---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>Paper in a danish popular science journal - <a href="https://aktuelnaturvidenskab.dk/fileadmin/Aktuel_Naturvidenskab/nr-1/AN1-2021-materialeudvikling.pdf">Aktuel Naturvidenskab</a></p>

<p>Guest lecture in the course <a href="https://kurser.ku.dk/course/nmab13022u">"Introduction to the Mathematics for the Chemical Sciences"</a> 2023</p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

